/*MEDIA 1615px*/
@media (max-width: 1615px) {
    /*SIDEBAR*/
    .sidebar ul, .sidebar div a, .sidebar hr{
        opacity: 0;
        display: none;
        transition: opacity 0.2s ease-in-out;
    }

    #sidebar-burger{
        display: inline-block;
    }

    .sidebar-short{
        width: 80px;
    }

    /*DIARY*/
    .btn-reg{
        font-size: 37px;
    }

}

/*MEDIA 1300px*/
@media (max-width: 1300px){
    .container-diary{
        width: 960px;
    }
}

/*MEDIA 1120px*/
@media (max-width: 1120px){
    .container-diary{
        width: 800px;
    }

    .post-title, .post-content{
        width: 92%;
    }
}

/*MEDIA 885px*/
@media (max-width: 885px){
    .container-diary{
        width: 600px;
    }

    .post-title, .post-content{
        width: 90%;
    }
}

/*MEDIA 800px*/
@media (max-width: 800px){
    body{
        font-size: 26px;
    }

    /*NAVBAR*/
    .navbar-brand, .nav-link{
        font-size: 32px;
    }

    /*SIDEBAR*/
    .sidebar{
        top: 58px;
    }

    .sidebar-short{
        width: 50px;
    }

    /*DIARY*/
    .container-diary{
        width: 75%;
    }

    .post-title, .post-content{
        width: 85%;
    }

    .btn-reg{
        font-size: 32px;
    }

    #title{
        font-size: 30px;
    }
}

/*MEDIA 400px*/
@media (max-width: 400px){
    .post-title, .post-content{
        width: 80%;
    }
}
