body{
    background-color: #4ad1fe;
    color: white;
    line-height: 1;
    font-size: 30px;
    font-family: 'Caveat', cursive;
}

h1{
    font-size: 62px;
}

a{
    color: white;
    transition: color 75ms;
}

a:hover{
    color: black;
}

hr{
    border-color: white;
    opacity: .35;
}

/*NAVBAR*/
.navbar{
    background-color: #59d6ff;
    font-weight: 700;
    z-index: 1000;
}
.navbar-brand, .nav-link{
    font-weight: 700;
    font-size: 36px;
}

/*REGISTER*/
.form-reg{
    font-size: 50px;
    height: calc(2.19rem + 17px);
}

.btn-reg{
    background-color: #227ff4;
    color: white;
    font-size: 40px;
    padding: 0 2rem;
    opacity: 0.8;
    transition: opacity 0.1s;
}

.btn-reg:hover{
    opacity: 1;
}

.btn-pass{
    font-size: 25px;
}

/*SIDEBAR*/
.sidebar{
    width: 15%;
    position: absolute;
    z-index: 1;
    /*bottom: 0;*/
    /*height: calc(100% - 68px);*/
    top: 68px;
    height: 100%;
    left: 0;
    background-color: #33ccfe;
    overflow-x: hidden;
    border-radius: 5px;

    transition: all 0.2s ease-in-out;
}

.sidebar ul{
    padding-inline-start: 40px;
}

.link{
    font-size: 30px;
}

#sidebar-burger{
    display: none;
    width: 50%;
    transition: all 0.2s ease-in-out;
}

abbr, abbr[title]{
    text-decoration: none;
    cursor: pointer;
}

/*DIARY*/
.container-create{
    width: 70%;
    height: 825px;
    background: url("../img/diary.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

.create-title{
    border-bottom: #653d14 solid 2px;
    margin-top: 8em;
}

#title{
    resize: none;
    background: none;
    border: none;
    color: white;

    overflow: hidden;
}

#title:focus{
    outline: none;
}

#title::placeholder{
    color: white;
    opacity: 0.6;
    font-weight: 700;
}
